pandas
numpy 
streamlit>=1.32.0
matplotlib>=3.5.0
seaborn 
requests
streamlit_lottie  
SMOTE
imblearn 
scikit-learn 
StandardScaler
model_selection 
xgboost 
metrics
chardet
imbalanced-learn==0.11.0
